/*Login */
.login-container{
    max-width: 35rem;
    border-radius: 10px;
    margin: 30px auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #fdfffc;
    box-shadow:0px 10px 1px #ddd, 0 10px 20px #ccc;;
}

.form-container{
    width: 30rem;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    justify-content: center;  

}
.form-container input[type=text],input[type=email],input[type=password]{
    width: 15rem;
    border-radius: 20px;
    display: block;
    border:none;
    box-shadow: 1px 3px 5px 3px rgba(0, 0.1, 0.1, 0.1);
}
.login-btn,.signup-btn{
    width: 15rem;
}

.container-card{
    width: 40%;
    border: 1px solid #ccc;
    box-shadow: -3px -3px 6px #ffffff, 3px 3px 5px #000000;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    align-items: center;


}
  